<!DOCTYPE html>
<html>
<head>
    <title>Producer Home</title>
</head>
<body>
    <h1>Producer Home Page</h1>
<script>
    // Get token from either storage
    function getAccessToken() {
        return localStorage.getItem("access") || sessionStorage.getItem("access");
    }

    // Protect this page
    if (!getAccessToken()) {
        window.location.href = "/login/";
    }

    // Logout function
    function logoutUser() {
        localStorage.clear();
        sessionStorage.clear();
        window.location.href = "/login/";
    }
</script>
</body>
</html>