{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Bristol Regional Food Network</title>
        <link rel="stylesheet" href="{% static 'product.css'%}">
    </head>

    <body> 

        <header class="navbar">
            <div class="nav-left">
                <img src="{% static 'images/leaf.png' %}" alt="Leaf logo" class="logo">
                <span class="title">Bristol Regional Food Network</span>
            </div>

            <nav class="nav-links">
                <!--we want the buttons styling to be active if we are on that page to make it clear what page the user is currently on
                which is what is being done here-->
                <a href="{%url 'home'%}"
                class="{%if request.resolver_match.url_name == 'home'%}active{%endif%}">Home</a>
                <a href="#">Login</a>
            </nav>
        </header>

        <!--page content will go here e.g login form-->
        <main>
            {% block content%}
            {%endblock%}
        </main>

        <footer class="footer">
            <p>Local Food Marketplace | Supporting Local Farmers</p>
        </footer>

    </body>
    </html>